body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #018f94;
}

h1 {
  margin-bottom: 50px;
  font-size: 2em;
  text-align: center;
}

.content {
  width: 50%;
  margin: auto;
  background-color: #b3c8c17c;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.value {
  padding: 0.3em 1em;
  border: 2px solid black;
  font-size: 1.5em;
}

.sign {
  font-size: 1.5em;
  font-weight: bold;
  margin: 2em;
}

.input {
  padding: 0.5em 0.2em;
  border: none;
}

.confirm-button {
  margin-left: 0.2em;
  padding: 0.5em 0.8em;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
}

.confirm-button:focus,
.button-container>button:focus {
  border: 1.5px solid black;
}

.confirm-button:hover,.button-container>button:hover {
  background-color: #5f9ea0;
  color: #faebd7;
}

.confirm-button:active,.button-container>button:active {
  transform: translateY(4px);
}

.button-container>button {
  visibility: hidden;
  padding: 0.5em 0.8em;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  margin: 0 0.2em;
}

.button-container {
  text-align: center;
  margin-top: 2em;
}

.message {
  display: none;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 0.8em;
  padding: 0 0.3em;
  font-size: 1.5em; 
}

.correct {
 color: #047404;
 font-weight: bold;
}

.wrong {
 color: #ce2222;
 font-weight: bold;
} 

@media screen and (max-width: 1024px) {
  .sign {
    margin: 0.5em;
  }

  .value {
    padding: 0.2em 0.8em;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 70%;
    padding: 1.5em;
  }
}

@media screen and (max-width: 425px) {
  .content {
    width: 80%;
  }

  h1 {
    font-size: 1.4em;
  }

  .value {
    padding: 0.15em 0.6em;
    font-size: 1em;
  }

  .input {
    padding: 0.5em 0.3em;
    width: 6em;
  }

  .sign {
    margin: 0.2em;
  }
}

@media screen and (max-width: 375px) {
  .content {
    width: 75%;
  }

  h1 {
    font-size: 1.1em;
  }

  .input {
    width: 8em;
  }

  .confirm-button {
    margin-left: 17em;
    margin-top: 0.6em;
    font-size: 0.7em;
    padding: 0.3em 0.5em;
  }

  .button-container {
    margin-top: 1em;
  }

  .button-container>button {
    padding: 0.3em 0.5em;
    margin: 0 0.1em;
    font-size: 0.7em;
  }
}

@media screen and (max-width: 320px) {
  .input {
    width: 6em;
  }

  .confirm-button {
    margin-left: 15em;
  }

  .sign {
    margin: 0.1em;
  }
}

@media screen and (max-width: 319px) {
  .input {
    width: 3em;
  }
  
  .confirm-button {
    margin-left: 0;
  }
}
